<%- include('includes/head') %>
<%- include('includes/nav') %>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 mt-5 text-center">
            <h1>Faça Login ou Registre-se</h1>
            <p class="lead">Se conecte ou cria sua Conta</p>
        </div>

        <%- include('includes/messages') %>

        <div class="row flex justify-content-center">
            <div class="col-lg-4 mt-5">
                <h1>Faça Login</h1>
                <form action="/login/login" method="post">

                  <div class="mb-3">
                    <label>Seu Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                  </div>
                  <div class="mb-3">
                    <label>Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                  </div>
                  <button type="submit" class="btn btn-primary">Entrar</button>
                </form>
              </div>
          
              <div class="col-lg-4 mt-5">
                <h1>Faça Cadastro</h1>
                <form action="/login/register" method="post">
                  <div class="mb-3">
                    <label>Seu Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                  </div>
                  <div class="mb-3">
                    <label>Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                  </div>
                  <button type="submit" class="btn btn-primary">Registrar</button>
                </form>
              </div>
        </div>

        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('includes/footer') %>
   